html {
  overflow: hidden;
  height: 100%; }

body {
  height: 100%;
  overflow: auto;
  margin: 0; }

#app {
  height: 100%;
  width: 100%; }

.theBigWrapper {
  height: 100%;
  width: 100%;
  display: flex; }

.loginComponentWrapper {
  background: #963a49;
  display: flex;
  flex-direction: column;
  width: 35%;
  margin: auto;
  align-items: center;
  justify-content: center; }
  .loginComponentWrapper h1 {
    color: white;
    margin: 0;
    font-size: 5em;
    font-family: 'Candal', sans-serif; }
  .loginComponentWrapper a {
    color: white;
    font-size: 2em;
    font-family: 'Candal', sans-serif;
    margin: 0 0 3% 0;
    text-decoration: none; }
  .loginComponentWrapper a:hover {
    color: black;
    text-decoration: underline; }
  .loginComponentWrapper .loginWrapper {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .loginComponentWrapper .loginWrapper .loginBox {
      background: #963a49;
      display: flex;
      margin: 5%; }
      .loginComponentWrapper .loginWrapper .loginBox .loginForm {
        background: #963a49;
        display: flex;
        flex-direction: column;
        margin: 0; }
        .loginComponentWrapper .loginWrapper .loginBox .loginForm input {
          font-family: 'Candal', sans-serif;
          background-color: white;
          color: black;
          border: none;
          font-size: 1.5em;
          text-align: center; }
        .loginComponentWrapper .loginWrapper .loginBox .loginForm input:nth-of-type(1) {
          margin-bottom: 1%; }
        .loginComponentWrapper .loginWrapper .loginBox .loginForm input:nth-of-type(2) {
          margin: 1% 0; }
        .loginComponentWrapper .loginWrapper .loginBox .loginForm button {
          margin: 2% auto 0;
          font-family: 'Candal', sans-serif;
          font-size: 1.75em;
          border: none;
          background: white;
          width: 75%; }
        .loginComponentWrapper .loginWrapper .loginBox .loginForm button:hover {
          background: black;
          color: white; }

.loginComponentWrapper {
  background: #963a49;
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  justify-content: center; }
  .loginComponentWrapper #registerForm {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .loginComponentWrapper #registerForm .inputBox {
      width: 30%;
      flex: 1;
      display: flex;
      flex-direction: column;
      margin: 4% 0; }
      .loginComponentWrapper #registerForm .inputBox label {
        color: white; }

.dashContainer {
  display: flex;
  width: 90%;
  height: 90%;
  margin: auto;
  flex-direction: column; }
  .dashContainer .nav {
    display: flex;
    flex: 0.5;
    border: 1px solid black;
    flex-direction: row; }
    .dashContainer .nav #userInfo {
      border: 1px solid red;
      flex: 1; }
    .dashContainer .nav #navButtons {
      border: 1px solid blue;
      flex: 3;
      display: flex;
      flex-direction: row; }
      .dashContainer .nav #navButtons button {
        border: 1px solid black;
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center; }
  .dashContainer .navFocus {
    display: flex;
    flex: 4;
    border: 1px solid black; }
    .dashContainer .navFocus .caleanderWrapper {
      display: flex;
      height: 100%;
      width: 100%;
      flex-direction: row;
      text-align: center; }
      .dashContainer .navFocus .caleanderWrapper .caleander_day {
        flex: 1;
        border-right: 1px solid black; }
        .dashContainer .navFocus .caleanderWrapper .caleander_day span {
          display: flex;
          justify-content: center;
          background: #963a49;
          color: white; }
      .dashContainer .navFocus .caleanderWrapper .caleander_day:nth-of-type(7) {
        border: none; }
    .dashContainer .navFocus .studentProfileWrapper {
      display: flex;
      height: 100%;
      width: 100%; }
      .dashContainer .navFocus .studentProfileWrapper .infoWrapper {
        border: 1px solid red;
        display: flex;
        flex-direction: row;
        width: 80%;
        margin: 0 auto; }
        .dashContainer .navFocus .studentProfileWrapper .infoWrapper .pictureBox {
          border: 1px solid green;
          flex: 1;
          display: flex;
          align-items: center; }
          .dashContainer .navFocus .studentProfileWrapper .infoWrapper .pictureBox .portrait {
            border: 1px solid black;
            height: 50%;
            width: 100%; }
        .dashContainer .navFocus .studentProfileWrapper .infoWrapper .editFields {
          flex: 2;
          display: flex;
          flex-direction: column;
          margin: 5% 5% 5% 0%; }
          .dashContainer .navFocus .studentProfileWrapper .infoWrapper .editFields #name, .dashContainer .navFocus .studentProfileWrapper .infoWrapper .editFields #email, .dashContainer .navFocus .studentProfileWrapper .infoWrapper .editFields #events {
            flex: 1;
            border: 1px solid blue;
            margin-left: 7.5%; }

/*# sourceMappingURL=styles.css.map */
