html {
  overflow: hidden;
  height: 100%; }

body {
  height: 100%;
  overflow: auto;
  margin: 0; }

#app {
  height: 100%;
  width: 100%; }

.theBigWrapper {
  height: 100%;
  width: 100%;
  display: flex; }

.loginComponentWrapper {
  background: #963a49;
  display: flex;
  flex-direction: column;
  width: 35%;
  margin: auto;
  align-items: center;
  justify-content: center; }
  .loginComponentWrapper h1 {
    color: white;
    margin: 0;
    font-size: 5em;
    font-family: 'Candal', sans-serif; }
  .loginComponentWrapper a {
    color: white;
    font-size: 2em;
    font-family: 'Candal', sans-serif;
    margin: 0 0 3% 0;
    text-decoration: none; }
  .loginComponentWrapper a:hover {
    color: black;
    text-decoration: underline; }
  .loginComponentWrapper .loginWrapper {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .loginComponentWrapper .loginWrapper .loginBox {
      background: #963a49;
      display: flex;
      margin: 5%; }
      .loginComponentWrapper .loginWrapper .loginBox .loginForm {
        background: #963a49;
        display: flex;
        flex-direction: column;
        margin: 0; }
        .loginComponentWrapper .loginWrapper .loginBox .loginForm input {
          font-family: 'Candal', sans-serif;
          background-color: white;
          color: black;
          border: none;
          font-size: 1.5em;
          text-align: center; }
        .loginComponentWrapper .loginWrapper .loginBox .loginForm input:nth-of-type(1) {
          margin-bottom: 1%; }
        .loginComponentWrapper .loginWrapper .loginBox .loginForm input:nth-of-type(2) {
          margin: 1% 0; }
        .loginComponentWrapper .loginWrapper .loginBox .loginForm button {
          margin: 2% auto 0;
          font-family: 'Candal', sans-serif;
          font-size: 1.75em;
          border: none;
          background: white;
          width: 75%; }
        .loginComponentWrapper .loginWrapper .loginBox .loginForm button:hover {
          background: black;
          color: white; }

.loginComponentWrapper {
  background: #963a49;
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  justify-content: center; }
  .loginComponentWrapper .signUpBox {
    display: flex;
    margin: 5%; }
    .loginComponentWrapper .signUpBox .signUpForm {
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .loginComponentWrapper .signUpBox .signUpForm .checkField {
        margin: 1% 0;
        flex-direction: column; }
        .loginComponentWrapper .signUpBox .signUpForm .checkField input {
          margin: 0; }
        .loginComponentWrapper .signUpBox .signUpForm .checkField #status {
          text-align: center;
          font-size: 1em; }
      .loginComponentWrapper .signUpBox .signUpForm .registerButton {
        margin: 1% 0; }
        .loginComponentWrapper .signUpBox .signUpForm .registerButton button {
          margin: 2% auto 0;
          font-family: 'Candal', sans-serif;
          font-size: 1.75em;
          border: none;
          background: white;
          width: 75%; }
        .loginComponentWrapper .signUpBox .signUpForm .registerButton .registerCheck-enter {
          opacity: 0; }
        .loginComponentWrapper .signUpBox .signUpForm .registerButton .registerCheck-enter-active {
          opacity: 1;
          transition: opacity .5s ease-in; }
        .loginComponentWrapper .signUpBox .signUpForm .registerButton .registerCheck-leave {
          opacity: 1; }
        .loginComponentWrapper .signUpBox .signUpForm .registerButton .registerCheck-leave-active {
          opacity: 0;
          transition: opacity .5s ease-out; }
      .loginComponentWrapper .signUpBox .signUpForm input {
        flex: 1;
        font-family: 'Candal', sans-serif;
        background-color: white;
        color: black;
        border: none;
        font-size: 1.5em;
        text-align: center;
        margin: 1% 0; }
      .loginComponentWrapper .signUpBox .signUpForm #first {
        margin: 0 0 1% 0; }
      .loginComponentWrapper .signUpBox .signUpForm #last {
        margin: 1% 0 0 0; }
      .loginComponentWrapper .signUpBox .signUpForm button:hover {
        background: black;
        color: white; }

/*# sourceMappingURL=styles.css.map */
